/***
 *This CSS file define the style of page head and foot.
 ***/

body {
    background-color: #ecece7;
    font-family: fantasy;
}

header {

}

#site_head {
    width: 100%;
    height: 58px;
    background: rgb(62, 202, 246);
    /**background: -webkit-gradient(linear,0 0,0 bottom,from(rgb(62, 202, 246)),to(#ecece7));
    background: -moz-linear-gradient(top,rgb(62, 202, 246),#ecece7);
    background: -o-linear-gradient(top,rgb(62, 202, 246),#ecece7);**/
    position: fixed;
    top: 0;
    z-index: 800;
}

.width960 {
    width: 960px;
    margin: 0 auto;
}

.animate_delay1s {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.site_logo {
    background-color: whitesmoke;
    width: 35px;
    height: 25px;
    margin: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    float: left;
    padding: 5px 0;
    text-align: center;
    -webkit-box-shadow: 2px 2px 5px #66666;
    -moz-box-shadow: 2px 2px 5px #66666;
    box-shadow: 2px 2px 5px #66666;
}

.site_logo img {
    width: 25px;
    height: 25px;
}

#site_title {
    font-size: 20px;
    line-height: 23px;
    text-shadow: 2px 2px 5px #999;
    margin: 20px 0;
    text-transform: uppercase;
    float: left;
}

.multiple_text_shadow {
    text-shadow: 2px 2px 0 rgba(175, 166, 166, 1), 6px 6px 0 rgba(50, 50, 50, 0.25);
}

.navigation {
    float: left;
}

.navigation ul {
    margin: 16px;
    clear: both;
    float: left;
    font-size: 16px;
    height: 30px;
    padding: 0;
    position: relative;
    width: 652px;
    line-height: 30px;
    list-style: none outside none;
}

.navigation ul li {
    color: ghostwhite;
    display: block;
    float: left;
    font-weight: 700;
    width: 60px;
    height: 30px;
    padding: 4px 15px 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

#container {
    width: 880px;
    margin: 80px auto 0;
    padding: 30px 60px 30px 60px;
    border: solid 1px #ecece7;
    background-color: #FDFDF8;
    -moz-box-shadow: 0px 0px 10px #ecece7;
    -webkit-box-shadow: 0px 0px 10px #ecece7;
}

#site_foot {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 5px;
}

#email_addr {
    display: inline-block;
    background-color: #ecece7;
    -webkit-box-shadow: -2px -2px 5px lavender, 2px 0px 5px lavender;
    -moz-box-shadow: -2px -2px 5px lavender, 2px 0px 5px lavender;
    box-shadow: -2px -2px 5px lavender, 2px 0px 5px lavender;
}

aside {
    position: fixed;
    top: 160px;
    right: 32px;
}

#calendar_view {
    display: block;
    border: 1px solid lavender;
    top: 380px;
}

#tags {
    display: block;
    border: 1px solid lavender;
    top: 280px;
}

#table_of_content {
    display: block;
    border: 1px solid lavender;
}

address {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: lavender;
}


.navigation li.backLava {
    height: 5px !important;
    left: 10px;
    position: absolute;
    top: 58px !important;
    width: 1px !important;
    border-style: solid;
    border-width: 0 62px 9px 62px;
    border-color: transparent transparent chocolate transparent;
}

#login, #userinfo {
line-height: 62px;
/***
.navigation li.selectedLava a {
    color: chocolate;
}
/***
 * Simply apply class="clearfix" to the elements cantaining the floats.
 ***/
.clearfix:before, .clearfix:after {content: "", display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

/*在 CSS 裡使用 @import。
以下解釋為當螢幕寬度在 400px ~700px 之間，就會將 test.css 的檔案呼叫匯入，並套用設定。*/
@import "site.media.css" only screen and (min-width: 400px) and (max-width: 800px)